*{
	box-sizing: border-box;
}
body{
margin:0;
font-family: 'IBM Plex Sans', sans-serif;
}
.container{
	max-width:1268px;
	margin:0 auto;
	padding:0 20px;
}
.main{
	display:flex;
	justify-content: space-between;
}
.item{
	background-image:url(images_icons/2.png);
	background-repeat: no-repeat;
	padding:10px 0px 10px 50px;
	text-transform: uppercase;
	font-size:15px;
	font-weight:bold;
	color:#1e92ec;
	background-position: left center;
	margin-right:35px;

}
.icon1{
	background-image:url(images_icons/2.png);
	background-size:38px 35px;
}
.icon2{
	background-image:url(images_icons/1.png);
	background-size: 42px 42px;
}
.icon3{
	background-image:url(images_icons/5.png);
	background-size:41px 31px;
}
.icon4{
	background-image:url(images_icons/4.png);
}
.icon5{
	background-image:url(images_icons/3.png);
	width:200px;
	margin-right:0;
}
@media (max-width: 1200px){
	.item{
		/*padding-top:40px;
		padding-bottom: 0;
		padding-left:0;*/
		padding:40px 0 0;
		background-position: left top;
		font-size:11px;
		max-width:122px;
	}
}
@media (max-width: 767px){
	.main{
		flex-wrap:wrap;
	}
	.item{
		font-size:10px;
		margin-right:0;
		margin-bottom:35px;
	}
}